<!DOCTYPE html>
<html lang="pt_PT">

<head>
    <meta charset="ISO-8859-1" />
    <link href="css/style.css" rel="stylesheet" />
    <title>Spring Boot Application</title>
</head>

<body>
    <h1>Alunos:</h1>

    <div class="container">
        <div th:each="aluno : ${alunos}" class="object">
            <p th:text="${aluno.getNome()}" class="element-title"></p>
            <p th:text="${aluno.getNrAluno()}"></p>
            <p th:text="${aluno.getMedia()}"></p>
            <div th:each="tema : ${aluno.getTemasCandidatados()}" class="element">
                <li th:text="${tema.getTitulo()}"></li>
            </div>
        </div>
    </div>
</body>

</html>
