<!DOCTYPE html>
<html lang="pt_PT">

<head>
    <meta charset="ISO-8859-1" />
    <link href="css/style.css" rel="stylesheet" />
    <title>Estatísticas</title>
</head>

<body>
    <h1>Estatísticas:</h1>

    <div class="container">
        <div class="object">
            <p>Número de alunos aprovados: <span class="element-title" th:text="${alunosAprovados}"></span></p>
            <p>Número de alunos reprovados: <span class="element-title" th:text="${alunosReprovados}"></span></p>
        </div>
    </div>
</body>

</html>
