<!DOCTYPE html>
<html lang="pt_PT">
    <head>
        <meta charset="ISO-8859-1" />
        <title>Propostas</title>
        <link href="css/style.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Propostas de Tese:</h1>

        <div class="container">
            <div th:each="proposta : ${propostas}" class="object"
                style="justify-content: center; display: flex; padding: 10px;">
                <p th:text="${proposta.getDefesa().getDuracaoMinutos()} + ' minutos'" class="element"></p><hr>
                <p th:text="${proposta.getTese().getTema().getTitulo()}" class="element"></p><hr>
                <form action="/marcarDefesa" method="get">
                    <input type="hidden" name="proposta" th:value="${proposta}"/>
                    <button class="element-title" type="submit">Marcar Defesa</button>
                </form>
            </div>
            <form action="/menu" method="get">
                <button class="element-title" style="background-color: rgb(171, 171, 171);">Voltar</button>
            </form>
        </div>
    </body>
</html>
