<!DOCTYPE html>
<html lang="pt_PT">
    <head>
        <meta charset="ISO-8859-1" />
        <title>Propostas</title>
        <link href="css/style.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Propostas de Tese:</h1>

        <div class="container">
            <div th:each="proposta : ${propostas}" class="element">
                <p th:text="${proposta.getDefesa().getDuracaoMinutos()} + ' ' + minutos"></p>
                <p th:text="${proposta.getTese().getTema().getTitulo()}"></p>
            </div>
            <form action="/menu" method="get">
                <button class="element-title" style="background-color: rgb(171, 171, 171);">Voltar</button>
            </form>
        </div>
    </body>
</html>
