<!DOCTYPE html>
<html lang="pt_PT">

<head>
    <meta charset="ISO-8859-1" />
    <link href="css/style.css" rel="stylesheet" />
    <title>Spring Boot Application</title>
</head>

<body>
    <h1>Login:</h1>

    <div class="container">
        <!-- Mock the login, all passwords works -->
        <div class="object" style="justify-content: center; display: flex;">
            <form action="/doLogin" method="post">
                <label for="username" class="element">Username:</label>
                <input type="text" id="username" name="nrConta" required />
                <br />
                <label for="password" class="element">Password:</label>
                <input type="password" id="password" />
                <div class="object" style="justify-content: center; display: flex;">
                    <input type="submit" value="Login" class="element-title" style="width: 100px;"/>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
