<!DOCTYPE html>
<html lang="pt_PT">
    <head>
        <!-- Include jQuery library -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Include jQuery UI library -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <!-- Include jQuery UI Timepicker Addon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
        <!-- Include your custom CSS file -->
        <link href="css/style.css" rel="stylesheet" />
        <!-- Title and other meta tags -->
    </head>
    <body>
        <h1>Marcar Defesa:</h1>
        <div class="container">
            <div class="object" style="justify-content: center; display: flex;">
                <form action="/doMarcarDefesa" method="post">
                    <!-- Duração -->
                    <label for="duracao" class="element">Duração (minutos):</label>
                    <input type="number" id="duracao" name="duracao" th:value="${proposta.getDefesa().getDuracaoMinutos()}" readonly><br><br>

                    <!-- Sala -->
                    <label for="sala" class="element">Sala:</label>
                    <select id="sala" name="nrSala">
                        <option value=""></option>
                        <option th:each="sala : ${salas}" th:value="${sala.getId()}" th:text="${sala.getNrSala()}"></option>
                    </select><br><br>

                    <!-- Horario -->
                    <label for="dataInicial" class="element">Data Inicial:</label>
                    <input type="text" id="dataInicial" name="dataInicial" placeholder="dd/mm/yyyy" required><br><br>
                    <label for="dataFinal" class="element">Data Final:</label>
                    <input type="text" id="dataFinal" name="dataFinal" placeholder="dd/mm/yyyy" required><br><br>

                    <!-- Juri -->
                    <label for="orientadorInterno" class="element">Orientador Interno:</label> <!-- No time, it shows nothing -->
                    <input type="text" id="orientadorInterno" name="orientadorInterno" th:value="${proposta.getTese().getDocente()}" readonly><br><br>

                    <label for="arguente" class="element">Arguente:</label>
                    <input type="text" id="arguente" name="arguente" required><br><br>

                    <label for="presidente" class="element">Presidente:</label>
                    <input type="text" id="presidente" name="presidente"><br><br>

                    <!-- Proposta -->
                    <input type="hidden" name="propostaId" th:value="${proposta.getId()}" />
                    <input type="submit" value="Marcar Defesa" class="element-title" style="width: 150px;">
                </form>
            </div>
            <form action="/listarPropostas" method="get">
                <button class="element-title" style="background-color: rgb(171, 171, 171);">Voltar</button>
            </form>
            <div th:if="${error}">
                <p th:text="${error}" style="color: red"></p>
            </div>
        </div>
    </body>
    <script>
        $(function() {
            // Initialize datetime picker for dataInicial input
            $("#dataInicial").datetimepicker({
                dateFormat: "dd/mm/yy", // Date format
                timeFormat: "HH:mm", // Time format
                minDate: 0, // Minimum date allowed (today)
            });

            // Initialize datetime picker for dataFinal input
            $("#dataFinal").datetimepicker({
                dateFormat: "dd/mm/yy", // Date format
                timeFormat: "HH:mm", // Time format
                minDate: 0, // Minimum date allowed (today)
            });
        });
    </script>
</html>
