<!DOCTYPE html>
<html lang="pt_PT">

<head>
    <meta charset="ISO-8859-1" />
    <link href="css/style.css" rel="stylesheet" />
    <title>Menu Inicial</title>
</head>

<body>
    <h1>Menu:</h1>

    <div class="container">
        <div class="object" style="justify-content: center; display: flex;">
            <form action="/proporTema" method="get">
                <input type="submit" value="Propor Tema" class="element-title" style="width: 300px; margin: 10px;" />
            </form>
        </div>
        <div class="object" style="justify-content: center; display: flex;">
            <form action="/atribuirTema" method="get">
                <input type="submit" value="Atribuir Tema (Admin)" class="element-title" style="width: 300px; margin: 10px;" />
            </form>
        </div>
        <div class="object" style="justify-content: center; display: flex;">
            <form action="/listarPropostas" method="get">
                <input type="submit" value="Marcação de Defesa" class="element-title" style="width: 300px; margin: 10px;" />
            </form>
        </div>
        <div class="object" style="justify-content: center; display: flex;">
            <form action="/listarDefesas" method="get">
                <input type="submit" value="Avaliação de Defesa" class="element-title" style="width: 300px; margin: 10px;" />
            </form>
        </div>
        <div class="object" style="justify-content: center; display: flex;">
            <form action="/estatisticas" method="get">
                <input type="submit" value="Estatísticas" class="element-title" style="width: 300px; margin: 10px;" />
            </form>
        </div>
        <div class="object" style="justify-content: center; display: flex;">
            <form action="/logout" method="get">
                <input type="submit" value="Logout" class="element-title" style="margin: 10px; background-color: #ff4d4d;" />
            </form>
        </div>
        <div th:if="${error}">
            <p th:text="${error}" style="color: red"></p>
        </div>
    </div>
</body>

</html>
