<!DOCTYPE html>
<html lang="pt_PT">

<head>
    <meta charset="ISO-8859-1" />
    <link href="css/style.css" rel="stylesheet" />
    <title>Spring Boot Application</title>
</head>

<body>
    <h1>Temas:</h1>

    <div class="container">
        <div th:each="tema : ${temas}" class="tema">
            <p class="tema-titulo" th:text="${tema.getTitulo()}"></p>
            <p th:if="${tema.aluno != null}" class="aluno">
                Aluno: <span th:text="${tema.aluno.nome}"></span>
            </p>
        </div>
    </div>
</body>

</html>
